<main>
    <div class="relative h-[40vh] w-full">
        <p-image src="/banner.jpg" alt="Image" loading="lazy" imageClass="block absolute h-full w-full object-cover" />
        <div class="absolute content-[''] left-0 top-0 bg-black/40 w-full h-full"></div>
        <div class="relative container flex items-center justify-start h-full ">
            <div class="flex flex-col items-start h-fit text-white overflow-hidden">
                <h1 data-aos="fade-down" data-aos-duration="1000" class="text-[30px] lg:text-[64px] font-bold">Radiant Skin Awaits!
                </h1>
                <p data-aos="fade-right" data-aos-duration="1000" class="text-[20px] lg:text-[24px]">Unlock exclusive discounts on our
                    best skincare essentials.</p>
                <p-button data-aos="fade-up" data-aos-duration="1000" label="Show Now" class="mt-[1rem]" size="large" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="flex flex-col lg:flex-row items-center justify-between py-8 gap-3">
            <p-selectbutton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"
                aria-labelledby="basic" allowEmpty="false" (onOptionClick)="selectOptions($event)" />
            <p-button label="Sort by" icon="pi pi-sort-amount-down" iconPos="right" severity="secondary"
                (click)="menu.toggle($event)" />
        </div>
        <div class="py-8">
            <p-dataview #dv [value]="products$ | async" layout="grid" class="banner">
                <ng-template #grid let-items>
                    <div class="grid grid-cols-1 lg:grid-cols-4 gap-5">
                        <div *ngFor="let product of items; let i = index" data-aos="fade-down"
                            [attr.data-aos-delay]="getAosDelay(i)" data-aos-duration="1000" class="p-2" (click)="navigateToDetails(product)">
                            <div class="rounded flex flex-col">
                                <div class="flex justify-center rounded">
                                    <div class="relative w-full mx-auto">
                                        <img class="rounded w-full drop-shadow-xl h-[15rem] object-cover"
                                            [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                                            [alt]="product.name" />
                                        <!-- <p-tag
                                            [value]="product.inventoryStatus"
                                            [severity]="getSeverity(product)"
                                            class="absolute"
                                            styleClass="dark:!bg-surface-900"
                                            [style.left.px]="4"
                                            [style.top.px]="4"
                                        /> -->
                                    </div>
                                </div>
                                <div class="pt-6">
                                    <div class="flex flex-row justify-between products-start gap-2">
                                        <div>
                                            <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                                                product.category
                                                }}</span>
                                            <div class="text-lg font-medium mt-1">{{ product.name }}</div>
                                        </div>
                                        <div class="p-1" style="height:100%">
                                            <div class="flex products-center gap-2 justify-center py-1 px-2">
                                                <span class="text-dark font-medium text-sm">{{ product.rating }}</span>
                                                <i class="pi pi-star-fill text-yellow-500"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-6 mt-6">
                                        <span class="text-base text-surface-400">Price: {{ product.price | currency:
                                            'PHP' }}</span>
                                        <span class="text-base text-surface-400">Slots: {{ product.slots }}
                                            Available</span>
                                        <div class="flex gap-2">
                                            <button pButton icon="pi pi-shopping-cart" label="Buy Now"
                                                [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                                                class="flex-auto whitespace-nowrap"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataview>
        </div>
    </div>
</main>
<p-menu #menu [model]="menuItems" [popup]="true"></p-menu>